.cplus-container {
	
    margin: 16px 0;
    max-width: 100%

	.heading {
	    width: 100%;
	    margin-bottom: 18px
	}
	.inline {
	    display: inline !important
	}
	.message {
	    margin: 16px 0;
	    width: 100%;
	    font-size: 1em;
	    line-height: 1.8;
	    border: 2px solid #91AFC7;
	    background-color: #E3F3F3;
	    text-align: center;
	    border-radius: 2px
		&.sent {
		    border-color: #CFE2C0;
		    background-color: #E9FFD9;
		}
	}
	.description {
	    font-weight: 400;
	    display: block;
	    width: calc(100% - 16px);
	    margin-bottom: 16px
	}
	.required {
	    color: #790000;
	    margin-left: 4px
	}
	.error {
	    background-color: rgba(255, 223, 224, .25);
	    margin-bottom: 6px !important;
	    border-top: 1px solid #C89797;
	    border-bottom: 1px solid #C89797;
	    padding-bottom: 6px;
	    padding-top: 8px;
	    box-sizing: border-box
		label {
		    color: #790000
		}
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .textarea {
		    border: 1px solid #790000
		}
	}
	.validation-error {
	    color: #790000;
	    font-size: 1em;
	    font-weight: 600;
	    letter-spacing: normal;
	    margin-bottom: 25px;
	    border-top: 2px solid #790000;
	    border-bottom: 2px solid #790000;
	    padding: 16px 0;
	    clear: both;
	    width: 100%;
	    text-align: center;
		.small {
		    font-weight: 400;
		    font-size: .875em;
		    line-height: 1.2;
		    margin-bottom: 16px
		}
	}

	.captcha {
	    margin-left: 32%
		img {
		    border: none !important;
		    background: 0 0 !important;
		    float: none !important;
		    margin: 0 !important;
		    padding: 0 !important
		}
	}


	form {
	    text-align: left;
	    max-width: 100%;
	    margin: 0 auto

		label {
		    font-weight: 600;
		    font-size: inherit
			&.top_label {
			    display: -moz-inline-stack;
			    display: inline-block;
			    line-height: 1.3;
			    clear: both;
			}
			&.hidden {
			    clip: rect(1px, 1px, 1px, 1px);
			    position: absolute !important;
			    height: 1px;
			    width: 1px;
			    overflow: hidden;
			}
			&.sublabel {
			    display: block;
			    font-size: .813em;
			    letter-spacing: .5pt;
			    white-space: nowrap;
			}
			.checkbox &, .radio & {
			    display: -moz-inline-stack;
			    display: inline-block;
			    padding: 0;
			    width: auto;
			    line-height: 1.5;
			    font-size: .875em;
			    vertical-align: middle;
			    max-width: 85%;
			    white-space: normal
			}

		}

		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
		    font-size: inherit;
		    font-family: inherit;
		    padding: 5px 4px;
		    letter-spacing: normal
		}
		input[type=checkbox], input[type=radio] {
		    width: auto !important
		    display: -moz-inline-stack;
		    display: inline-block;
		    vertical-align: middle;
		    margin-left: 1px
		}
		input[type=submit], input.button {
		    font-size: 1em;
		    width: 100%;
		    margin: 0 0 16px
		}

		select, textarea {
			font-family: inherit;
		    line-height: 1.5;
			letter-spacing: normal;
			font-size: inherit
			option {
			    padding: 2px;
			    display: block
			}
		}
		textarea {
		    padding: 6px 8px;
		    resize: none
		}


	}


	
} 









