@use 'sass:color';

// Zu Contact Form & controls ---------------------------------------------------------------------]

$zuc-class-prefix: 'zuc';
$zuc-validation-class: '__validation';

$zuc-smaller-font-size: 16px !default; //.875em
$zuc-small-font-size: 15px !default;

$zuc-letter-spacing: 0.8px;
$zuc-placeholder-color: rgba(black, 0.5) !default;
$zuc-placeholder-font-size: $zuc-small-font-size !default;

$zuc-ok-color: #8fcc8f !default; // #66cc52
$zuc-error-color: #ff5533 !default;
$zuc-warning-color: #fcbf00 !default;
$zuc-error-border-color: #ff5533 !default;
$zuc-required-color: #ff8066 !default;
$zuc-required-color-pass: $zuc-ok-color !default;
$status-background-color: rgba(black, 0.8) !default;

$zuc-loader-size: 40px !default;
$zuc-loader-color: $zuc-error-color !default;

$zuc-status-message-min-height: 20px !default;

$zuc-field-left-margin: 4px !default;
$zuc-field-top-margin: 8px !default;

$zuc-input-font-size: $zuc-smaller-font-size !default;
$zuc-input-text-color: #222 !default;
$zuc-input-text-font-weight: 400 !default;
$zuc-input-color: #ffffeb !default; //#ffffe0 - #fffffa
$zuc-input-focus-color: white !default;
$zuc-input-border-color: white !default;
$zuc-text-shadow-for-white: 0 1px 3px rgba(black, 0.3) !default;

$zuc-input-focus-border-color: rgba(black, 0.3) !default;
$zuc-input-focus-shadow-color: rgba(black, 0.2) !default;
$zuc-input-focus-color-size: 5px !default;
$zuc-input-padding: 0.6em !default;
$zuc-input-border-radius: 2px !default;

$zuc-label-color: inherit !default;
$zuc-label-font-weight: 500 !default;
$zuc-label-font-size: $zuc-smaller-font-size !default;

$zuc-button-color: #cb4e4e !default;
$zuc-button-focus-color: white !default;
$zuc-button-font-weight: 500 !default;
$zuc-button-border-radius: 3px !default;
$zuc-button-width: 200px !default;

// TwentyTwenty modifications ---------------------------------------------------------------------]

$twentytwenty-text-color: rgba(#222, 0.7) !default;
$twentytwenty-border-color: rgba(#222, 0.2) !default;

// Zu Theme modifications -------------------------------------------------------------------------]

$zu-status-background-color: rgba(black, 0.2) !default;

$zu-input-focus-color-size: 3px !default;
$zu-input-focus-shadow-color: #ffff61 !default;
$zu-input-focus-border-color: color.adjust($zu-input-focus-shadow-color, $lightness: -50%) !default;

// Transitions ------------------------------------------------------------------------------------]

$zuc-transition-time: 0.3s !default;
$zuc-transition-short-time: 0.2s !default;
$zuc-transition-medium-time: 0.5s !default;
$zuc-transition-function: ease-in-out !default;
$zuc-transition-cubic: cubic-bezier(0.33, 0, 0.2, 1) !default;

@mixin placeholder {
	color: $zuc-placeholder-color;
	font-size: $zuc-placeholder-font-size;
	letter-spacing: $zuc-letter-spacing;
	opacity: 1;
	transition: opacity $zuc-transition-time $zuc-transition-function;
}

%reset_input {
	outline: none;
	appearance: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
}

%smaller {
	font-size: $zuc-smaller-font-size;
	line-height: 1.3;
	letter-spacing: $zuc-letter-spacing;
}

%small {
	font-size: $zuc-small-font-size;
	line-height: 1;
	letter-spacing: 1px;
}

%not_valid {
	border: 1px solid rgba($zuc-error-border-color, 0.8);
	box-shadow: 0 0 $zuc-input-focus-color-size rgba($zuc-error-border-color, 0.5);
}

%disabled {
	background-color: rgba(black, 0.3);
	color: rgba(black, 0.5);
	border-color: rgba(black, 0.5);
}

%sans_font {
	font-family:
		'Inter var',
		-apple-system,
		BlinkMacSystemFont,
		'Helvetica Neue',
		Helvetica,
		sans-serif !important;
}
