// Form & controls ------------------------------------------------------------]

$cplus-placeholder-color: rgba(black, 0.5) !default;
$cplus-placeholder-font-size: .875em !default;

$cplus-ok-color: #66cc52 !default;
$cplus-error-color: #ff5533 !default;
$cplus-error-border-color: #ff5533 !default;
$cplus-required-color: #ff8066 !default;
$cplus-required-color-pass: $cplus-ok-color !default;
$status-background-color: rgba(black, 0.1) !default;

$cplus-loader-size: 40px !default;
$cplus-loader-color: $cplus-error-color !default;

$cplus-field-left-margin: 4px !default;
$cplus-field-top-margin: 8px !default;

$cplus-input-text-color: #222 !default;
$cplus-input-text-font-weight: 400 !default;
$cplus-input-color: #ffffeb !default; 					//#ffffe0 - #fffffa
$cplus-input-focus-color: white !default;
$cplus-input-border-color: white !default;
$cplus-input-focus-border-color: #ffff61 !default;
$cplus-input-focus-color-size: 5px !default;
$cplus-input-padding: 0.6em !default;
$cplus-input-border-radius: 2px !default;

$cplus-label-color: inherit !default;
$cplus-label-font-weight: 600 !default;

$cplus-button-color: #cb4e4e !default;
$cplus-button-focus-color: white !default;
$cplus-button-font-weight: 500 !default;
$cplus-button-border-radius: 3px !default;
$cplus-button-width: 200px !default; 

@mixin placeholder { 								
	color: $cplus-placeholder-color;
	font-size: $cplus-placeholder-font-size;
	letter-spacing: .5pt;
	opacity: 1;
}

%small {
    font-size: .875em;
    line-height: 1.2;
    letter-spacing: .5pt;
}

%disabled {
	background-color: rgba(black, 0.3);
	color: rgba(black, 0.5);
	border-color: rgba(black, 0.5);
}

.cplus-container {

    margin: 16px 0;
    max-width: 100%;
    position: relative;

// 	::-webkit-input-placeholder		//	Chrome/Opera/Safari 
// 	::-moz-placeholder					// Firefox 19+ 
// 	:-ms-input-placeholder 			// IE 10+ 
// 	:-moz-placeholder					// Firefox 18-   

	::-webkit-input-placeholder { @include placeholder;}
	::-moz-placeholder { @include placeholder;}
	:-ms-input-placeholder { @include placeholder;}
	:-moz-placeholder { @include placeholder;}	

	.cplus-loader {
		float: right;
		clear: both;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
		.ajaxed & { 
			opacity: 1;
		}
		svg {
			color: $cplus-loader-color;
			width: $cplus-loader-size; 
			height: 100%;
			path, rect {
				fill: $cplus-loader-color;
			}
		}	
	}
	
	.cplus-subheading {
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 0.2s ease-in-out;
		opacity: 0;
		margin-top: 0 !important;
		padding-top: 0 !important;
		&.before_posting {
			opacity: 1;
		}
	}

	.cplus-control {
		margin-top: $cplus-field-top-margin * 2;
		.cplus-input {
			margin-top: $cplus-field-top-margin;
		}
	}

	.cplus-status {
		display: table;
	    padding: 10px;
	    background-color: $status-background-color;
	    border-radius: $cplus-input-border-radius + 1;
		@extend %small;
		transition: opacity 0.3s ease-in-out;
		opacity: 0;
		.ajaxed & {
			opacity: 0 !important;
		}
		&.sent {
			opacity: 1;
			color: $cplus-ok-color;
			.icon-ok {
				visibility: visible;
			}
			.icon-error {
				display: none;
			}
		}
		&.not-sent {
			opacity: 1;
			color: $cplus-error-color;
			.icon-error {
				visibility: visible;
			}
			.icon-ok {
				display: none;
			}
		}
		span {
			display: table-cell;
			vertical-align: middle;
			line-height: 1.5em;
			&.icon-ok, &.icon-error {
				display: inline-block;
				visibility: hidden;
				margin-top: 0.2em
			}
			span {
				padding-top: 0.2em;
			}
		}
		svg {
			width: 30px;
			height: auto;
			margin-right: $cplus-field-left-margin * 2;
		}
	}
	.validation {
		display: none;
	    font-weight: $cplus-input-text-font-weight;
	    margin: $cplus-field-top-margin 0 ($cplus-field-top-margin * 2);
		@extend %small;
		transition: opacity 0.3s ease-in-out;
		opacity: 1;		
		.ajaxed & {
			opacity: 0 !important;
		}
	}
	&.cplus-processed {
		
		.cplus-subheading {
			display: none !important;
		}
		
		.success {
			label { 
				.required {
			    	color: $cplus-ok-color;
				}
			}
		}
		.error {
			label {
			    color: $cplus-required-color;
				.required {
			    	color: $cplus-error-color;
				}
			}
			input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), textarea {
			    border: 1px solid rgba($cplus-error-border-color, 0.5);
			    box-shadow: 0 0 $cplus-input-focus-color-size $cplus-error-border-color;
			}
			.validation {
				color: $cplus-error-color;
				display: block;
			}
		}
		
		&.cplus-general-errors {
			.success label .required {
				color: $cplus-error-color;
			}
		}
	}
	
	.hrule {
	    height: 1px;
	    overflow: hidden;
	    border-top: 2px solid rgba(white, 0.7);
	    margin: ($cplus-field-top-margin * 4) 0;
	}
	.captcha {
	    margin-left: 32%;
		img {
		    border: none !important;
		    background: 0 0 !important;
		    float: none !important;
		    margin: 0 !important;
		    padding: 0 !important;
		}
	}

	form {
	    text-align: left;
	    max-width: 100%;
	    margin: 0 auto;
	}

	label {
		color: $cplus-label-color;
	    font-weight: $cplus-label-font-weight;
	    letter-spacing: .5pt;
    	.required {
		    color: $cplus-required-color;
		    margin-left: $cplus-field-left-margin;
		}
		&.small {
			@extend %small;
		    white-space: nowrap;
		}
	}
	.checkbox, .radio {
		label {
			font-weight: $cplus-input-text-font-weight;
		    display: inline-block;
		    padding-left: 10px;
		    vertical-align: middle;
			@extend %small;
		}
	}
	
	input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']), textarea {
	    appearance: none;
	    border-radius: $cplus-input-border-radius;
	    outline: none;
	    color: $cplus-input-text-color;
	    font-weight: $cplus-input-text-font-weight;
	    border: 1px solid $cplus-input-border-color;
	    background-color: $cplus-input-color;
	    padding: $cplus-input-padding;
		&:disabled {
			@extend %disabled;
		}    
	    &:focus {
		    background-color: $cplus-input-focus-color;
		    box-shadow: 0 0 $cplus-input-focus-color-size $cplus-input-focus-border-color;
		    border: 1px solid $cplus-input-focus-border-color;
		}
	}
	input[type=checkbox], input[type=radio] {
	    width: auto !important;
	    display: inline-block;
	    vertical-align: middle;
		&:disabled {
			@extend %disabled;
		}    
	}
	select, textarea {
	    appearance: none;
	    line-height: 1.5;
		letter-spacing: normal;
		option {
		    padding: 2px;
		    display: block;
		    &:disabled {
				@extend %disabled;
			}
		}
	}

	input[type=submit], input[type=button] {
		appearance: none;
	    border: 1px solid transparent;
	    background-color: $cplus-button-color;
	    color: white;
	    box-shadow: 1px 1px darken($cplus-button-color, 10%);
	    cursor: pointer;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    padding: 10px 20px;
		min-width: $cplus-button-width;
		
	    display: inline-block;
	    font-weight: $cplus-button-font-weight;
	    outline: none;
	    position: relative;
	    border-radius: $cplus-button-border-radius;
		float: right;
		transition: all 0.3s ease-in-out;
	    transition-property: background-color, top, left, border-color;

	    &:disabled {
			background: rgba($cplus-button-color, 0.5);
			color: rgba(white, 0.5);
		}
	    &:after {
		    content: '';
		    position: absolute;
		    z-index: -1;
		    transition: all 0.3s;
		}
		&:hover {
		    box-shadow: 1px 1px darken($cplus-button-color, 20%);
		    background-color: darken($cplus-button-color, 10%);
		    border-color: rgba($cplus-button-focus-color, 0.3);
		}
		&:active {
			top: 1px;
			left: 1px;
		}
	}
}


// Media queries customizations -----------------------------------------------]



/* media queries - portrait mode tablet or desktop styles */

/*
@media only screen and (min-width: 961px) {

    body .cplus-container input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
        height: 35px;
    }
}
*/

